@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="logo.png" alt="FunTask Logo" style="width: 150px; height: 150px;" />
    <h1 class="display-4">FunTask</h1>
    <p class="lead">Motivando a los niños a completar sus actividades diarias con recompensas atractivas.</p>
</div>
