@model FunTask.Models.Actividad

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Actividad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ActividadId" />
            <div class="form-group">
                <label asp-for="HijoId" class="control-label"></label>
                <select asp-for="HijoId" class="form-control" asp-items="ViewBag.HijoId"></select>
                <span asp-validation-for="HijoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasParaRecompensa" class="control-label"></label>
                <input asp-for="DiasParaRecompensa" class="form-control" />
                <span asp-validation-for="DiasParaRecompensa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiasCompletados" class="control-label"></label>
                <input asp-for="DiasCompletados" class="form-control" />
                <span asp-validation-for="DiasCompletados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecompensaId" class="control-label"></label>
                <select asp-for="RecompensaId" class="form-control" asp-items="ViewBag.RecompensaId"></select>
                <span asp-validation-for="RecompensaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
